.page{
    padding-right:20rem
    .demo-model{
        position: fixed;
        width: 340px;
        top: 100px;
        right: 0;  
        bottom:0;
        iframe{
            width:100%;
            height:100%
        }
    }
}

